@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    font-size:16px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-size:0.875rem;
    font-family: Montserrat, Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--cream);
    color: var(--very-dark-blue);
}

main {
    display: flex;
    padding-top:28px;
    justify-content: center;
}

.card {
    max-width: 343px;
    background-color: white;
    border-radius: 0.5rem;
    display:flex;
    flex-direction: column;
}

.image img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


.text {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2rem;
    font-family: Fraunces, 'Times New Roman', Times, serif;
    line-height:1;
    margin-bottom: 1rem;
}

h3 {
    order:-1;
    font-size:0.75rem;
    text-transform: uppercase;
    margin-bottom:1rem;
    letter-spacing: 5px;
}

p {
    color: var(--grayish-blue);
    font-size: 0.75rem;
    line-height:1.8;
    letter-spacing:1px;
    margin-bottom:1.5rem;
}

.prices {
    display: flex;
    margin-bottom:1.5rem;
}
.price-discounted {
    color:var(--dark-cyan);
    font-size:2rem;
    font-family: Fraunces, 'Times New Roman', Times, serif;
}

.price {
    text-decoration-line: line-through;
    align-self: center;
    margin-left:1rem;
}

button {
    background-color: var(--dark-cyan);
    color:white;
    border: none;
    border-radius: 0.5rem;
    font-weight: bold;
    height:3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    display:inline-block;
    width:16px;
    height:16px;
    background-image: url("../images/icon-cart.svg");
    margin-right:1rem;
}